<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="/css/bootstrap.css">
	<title></title>
</head>
<body>
	<nav>
		<img id="times-logo" src="/pictures/nytimes.png"/>
		<div id="links"><a href="/provisions">Home</a></div>
	</nav>
		<% if (parsedData.num_results === 0) { %>
			<br></br>
			<h3> Sorry, there are no information found.</h3>			
		<% } else{ %>
			<% for(var i = 0; i < parsedData.results.length; i++) { %>
				<br></br>
				<h3>
					Title:<strong> <%= parsedData.results[i].title %> by <%= parsedData.results[i].author %></strong>
				</h3>

				<h3>Description:<strong> <%= parsedData.results[i].description %></strong></h3>

				<h3>
					<div>Ranked:<strong> #<%= parsedData.results[i].ranks_history[0].rank %> on 
					<%= parsedData.results[i].ranks_history[0].bestsellers_date  %> for 
					<%= parsedData.results[i].ranks_history[0].weeks_on_list  %> week(s).</strong>
				</h3>	

				<% for(var j = 0; j < parsedData.results[i].reviews.length; j++) { %>
					<h3>
						<i><a id="review-link" href="<%= parsedData.results[i].reviews[j].book_review_link %>"/>Reviews</a></i>
					</h3>
				<% } %>
			<% } %>	
		<% } %>
			<h4> <%= book.views %> views</h4>
</body>	
</html>
